
<ion-content class="animated fadeIn">

  <ion-row class="mt-10">
    <ion-col size="8" offset="2">
      <h1 class="ion-text-center">Gotel</h1>
      <p class="ion-text-center">un desarrollo Gour-net</p>
   </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="10" offset="1" class="caja">
      <ion-item>
          <ion-label position="floating">Ingresa tu password</ion-label>
          <ion-input  type="password"
                      name="pass"
                      [(ngModel)]="pass"></ion-input>
      </ion-item>  


    </ion-col>   
  </ion-row>
      
      <ion-row>
        <ion-col size="10" offset="1">
            <ion-button expand="block" 
                        (click)="checkPass(pass)">
                        Entrar
            </ion-button>

            <ion-button fill="clear" 
                        color="medium" 
                        expand="block"
                        (click)="config()"> <!--  tappable es para cosas que por default no se comportan como botones ni anchor -->
                <ion-icon name="construct"></ion-icon>
                Config
            </ion-button>
            <p style="font-size:10px;text-align: right;">0.0.2</p>

          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
             
          </ion-col>
      </ion-row> 

    
</ion-content>


<!--
<ion-row class="caja-logo">
    <ion-col size="12" size-md="4" offset-md="4">
      <img src="../../assets/imgs/logo2.svg">
    </ion-col>
  </ion-row>
-->