
<ion-header>
    <ion-toolbar color="dark">
    
        <ion-title>Gotel</ion-title>
        <ion-buttons slot="primary">
          <ion-icon slot="end" name="arrow-round-back"></ion-icon>
          <ion-button [routerLink]="['']" routerLinkActive="router-link-active"  >
            Salir
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="animated fadeIn">Bienvenido</h1>
   <!-- <h2>{{ this.user.NOMBRE | titlecase }}</h2>-->
    <hr>
    <ion-button expand="block" (click)="irPiezas()">Tomar Pieza</ion-button>

</ion-content>
