// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

@import '../theme/fonts';


*{
   font-family: LatoBlack; 
}

h4{
    font-family: LatoLight; 
}

p{
    font-family: LatoRegular;
}

ion-content{
    --background: url('src/assets/pattern.png') repeat;
}

ion-header{
    --background-color:#333637 !important;
}


.bg-white{
    background-color:white;

}

.encabezado{
    background-color:#F15A24;
    color:white;
}

h1{
  margin:10px;
  font-size: 3em;  
}

h5{
  font-size:0.9em;
  padding-left:10px;
}

.cabecera{
  background-color: white;
  border-bottom:2px solid grey;
}

.codigo{
    max-width:50px;
}

.nombre{
  padding-left: 10px;
  font-size: 0.7em;
}
